<div id ="nav">
   
    <ul>
       <span class="mypage">MYPAGE</span> 
        <li><a href="/">home</a></li>
        <li><a href="/resistration">Resister</a></li>
        <li><a href="/login">Login</a></li>
        
    </ul>
</div>