<%-include("./partials/header.ejs")%>
<div id ="nav">
<ul>
    <span class="mypage">MYPAGE</span> 
    <li><a href="/">home</a></li>
    <li><a href="/Logout">Logout</a></li>
    <li><a href="/dashboard">Dashboard</a></li>
</ul>
</div>
<div class="dash">   
    <h1>hello and welcome to our site</h1>
</div>
<%-include("./partials/footer.ejs")%>